<template id="template_translator">
    <style>
        :host {
            display: block;
            height: 100%;  /* 或者 500px */
            --shadow-color: #707070;
            --button-background-color: transparent;
            --button-hover-background-color: #e0e0e0;
        }
        #translator_container{
            width: 100%;
            height: 100%;
            padding: 10px;
            box-sizing: border-box;
            display: flex;
            min-height: 400px;
        }
        #translator_head_container{
            position: relative;
            left: 0%;
            top: 0%;
            width: 36px;
            height: 100%;
            box-sizing: border-box;
            padding: 4px;
            background-color: #f0f0f0;
            border-radius: 3px 0px 0px 3px;
            box-shadow: 0px 0px 3px var(--shadow-color);
            z-index: 1;
            display: flex;
            flex-direction: column;
            gap: 4px;
        }
        #translator_body_container{
            position: relative;
            flex: 1;
            display: flex;
            flex-direction: column;  /* 垂直排列 */
            border-radius: 0px 3px 3px 0px;
            box-shadow: 0px 0px 3px var(--shadow-color);
            overflow: hidden;
        }
        #translator_body_spliter{
            width: 100%;
            height: 8px;
            min-height: 8px;
            background-color: #f0f0f0;
            border-top: solid 1px #e0e0e0;
            border-bottom: solid 1px #e0e0e0;
            box-sizing: border-box;
            transition: background-color 0.3s ease; 
        }
        #translator_body_spliter:hover{
            background-color: #d0d0d0;
        }
        #input_container,
        #output_container{
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            min-height: 20%;
            max-height: 80%;
            flex: 1 1 50%;
            box-sizing: border-box;
            border-radius: 5px;
            overflow-y: auto;
            overflow-x: hidden;
        }
        #input_edit,
        #output_edit{
            flex: 1;
            outline: none;
            padding: 10px;
            box-sizing: border-box;
            text-indent: 2em; /* 首行缩进两个字符宽度 */
            word-break: break-all;  /* 长单词或中文自动换行 */
        }

        .botton {
            position: relative;
            width: 100%;
            aspect-ratio: 1;
            --color: #999;
            --hover-color: #000;
        }
        .botton::before {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: 3px;
            background-color: var(--button-background-color);
            transition: background-color 0.3s ease;
            z-index: 0;
        }
        .botton:hover::before {
            background-color: var(--button-hover-background-color);
        }
        .botton::after {
            content: "";
            position: absolute;
            inset: 0;
            -webkit-mask-image: var(--svg);
            mask-image: var(--svg);
            background-color: var(--color); /* 图标颜色 */
            z-index: 1;
            transition: background-color 0.3s ease; 
        }

        .botton:hover::after {
            background-color: var(--hover-color);
        }


    </style>
    <div id="translator_container">
        <div id="translator_head_container">
            <div class="botton" id="button_text_translate" title="文本翻译" 
                style="--svg:url('./static/svg/text_translate.svg')">
            </div>
            <div class="botton" id="button_audio_play" title="播放音频" 
                style="--svg:url('./static/svg/audio_play.svg')">
            </div>
            <div class="botton" id="button_clear_content" title="清空内容" 
                style="--svg:url('./static/svg/clear_content.svg')">
            </div>
        </div>
        <div id="translator_body_container">
            <div id="input_container">
                <div id="input_edit" contenteditable="true">
                </div>
            </div>
            <div id="translator_body_spliter">
            </div>
            <div id="output_container">
                <div id="output_edit">
                </div>
            </div>            
        </div>
    </div>
</template>