<template id="template_translator">
    <style>
        #translator_container{
            width: 100%;
            height: 100%;
            padding: 10px;
            box-sizing: border-box;
            display: flex;
            min-height: 400px;
        }
        #translator_head{
            position: relative;
            left: 0%;
            top: 0%;
            width: 30px;
            height: 100%;
            background-color: #f0f0f0;
            border-radius: 5px 0px 0px 5px;
            box-shadow: 0px 0px 4px #707070;
            z-index: 1;
            flex-direction: column;
        }
        .title{
            width: 100%;
            height: 30px;
            position: absolute;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
        .title:nth-child(2) {
            position: absolute;
            top: 50%;
            transform: translateY(0);
        }
        .button{
            position: relative;
            width: 100%;
            height: 30px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
        #translator_body{
            position: relative;
            flex: 1;
            display: flex;  /* 垂直排列 */
            flex-direction: column;
            border-radius: 0px 5px 5px 0px;
            box-shadow: 0px 0px 4px #707070;
        }
        #translator_body_spliter{
            width: 100%;
            height: 2px;
            background-color: #c0c0c0;
        }
        #input_container{
            position: relative;
            width: 100%;
            flex: 1;
            box-sizing: border-box;
            border-radius: 5px;
            display: flex;
        }
        #input_edit{
            flex: 1;  /* 占据剩余空间 */
            outline: none;
            padding: 10px;
            box-sizing: border-box;
            text-indent: 2em; /* 首行缩进两个字符宽度 */
            /* background-color: aliceblue; */
        }
        #output_container{
            position: relative;
            width: 100%;
            flex: 1;
            box-sizing: border-box;
            border-radius: 5px;
            /* border: solid 1px #000; */
        }
        #output_edit{
            flex: 1;  /* 占据剩余空间 */
            outline: none;
            padding: 10px;
            box-sizing: border-box;
            text-indent: 2em; /* 首行缩进两个字符宽度 */
            /* background-color: aliceblue; */
        }
        #botton_translate{
            position: relative;
            width: 100%;
            height: 30px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background-color: #f0f0f0;
            border-radius: 5px;
        }
        #botton_translate .icon{
            stroke-width: 8;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke: #c0c0c0;
            fill: #c0c0c0;
        }
        #botton_translate:hover .icon{
            stroke: #00c000;
            fill: #00c000;
        }
        #botton_audio{
            position: relative;
            width: 100%;
            height: 30px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background-color: #f0f0f0;
            border-radius: 5px;
        }
        #botton_audio .icon{
            stroke-width: 6;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke: #c0c0c0;
            fill: #c0c0c0;
        }
        #botton_audio:hover .icon{
            stroke: #00c000;
            fill: #00c000;
        }
    </style>
    <div id="translator_container">
        <div id="translator_head">
            <div id="botton_translate" title="翻译">
                <svg class="icon" width="100%" height="100%" viewBox="0 0 64 64" preserveAspectRatio="xMidYMid meet">
                    <polyline points="20,32 42,17 42,47 20,32"/>
                </svg>
            </div>
            <div id="botton_audio" title="播放">
                <svg class="icon" width="100%" height="100%" viewBox="0 0 64 64" preserveAspectRatio="xMidYMid meet">
                    <circle cx="20" cy="32"  r="4"/>
                    <path d="M 28 22 A 12 12 0 0 1 28 42" fill="none" />
                    <path d="M 34 14 A 24 24 0 0 1 34 50" fill="none" />
                </svg>
            </div>
        </div>
        <div id="translator_body">
            <div id="input_container">
                <div id="input_edit" contenteditable="true">
                </div>
            </div>
            <div id="translator_body_spliter">
            </div>
            <div id="output_container">
                <div id="output_edit">
                </div>
            </div>            
        </div>
    </div>
</template>